<header>
  <% logo %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", pages_home_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sign in", signup_path %></li>
      <a href="skype:SkypeUser?chat">Skype</a>
    </ul>
  </nav>
</header>